<% if @term %>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <% if @page.to_i <= 1 %>
        <li class="page-item disabled">
          <%= link_to 'Prev', nil, class: 'page-link', aria: {disabled: true} %>
        </li>
      <% else %>
        
        <li class="page-item">
          <%= link_to 'Prev', search_path(term: @term, page: @page.to_i-1), class: 'page-link' %>
        </li>
      <% end %>
      <%# <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> %>
      <% if @page.to_i >= @total_pages %>
        <li class="page-item disabled">
          <%= link_to 'Next', nil, class: 'page-link', aria: {disabled: true} %>
        </li>
      <% else %>
        <li class="page-item">
          <%= link_to 'Next', search_path(term: @term, page: @page.to_i+1), class: 'page-link' %>
        </li>
      <% end %>
    </ul>
  </nav>  
<% end %>